.container {
    border: 2px solid #ADD8E6;
    width: 700px;
    margin: 0 auto;
    height: 600px;
}

.info-col {
    display: flex;
    height: 40px;
    margin-top: 4%;
    margin-bottom: 4%;
}

label {
    width: 120px;
    text-align: center;
    margin-bottom: 0px;
    margin-left:30px
}

input,
select {
    border: 1.5px solid #41719c;
    background-color: #b5c8ef;
    width: 60%;
}




.row{
    display: flex;
    justify-content: space-between;
    padding : 0 40px;
} 
.row .btn-submit  {
    border: 1px solid #6e92b1;
    border-radius: 6px;
    padding: 7px 15px;
    background-color:  #7e9ad2;
    color: white;
    margin-top: 10px;
}



th,td{
    padding:5px 25px;
}

button.btn{
    background-color: #7e9ad2; 
    border-radius: 6px; 
    color:white;
    border: 1.5px solid #5d84a6;

}